html  {
	background: url("../images/rainbow.gif") repeat-x scroll -500% 0 #FFFFFF;
}


body {
	background:url("../images/texture.jpg") repeat scroll 50% 0 transparent;
	color:#000000;
	font:13px arial,sans-serif;
	margin:5px 0 0 0;
        border-top:none;

}


#hd {
	background:transparent;
}

h1#branding  {
	background:none repeat scroll 0 0 transparent;
}

h1#branding a {	
	color:#444444;
}

#hd ul.main {
	background:url("../images/topnav_bg.jpg") repeat scroll 0 0 transparent;
	border-bottom:3px solid #BCDE5C;
	height:41px;
	padding:4px 20px 0;
	position:relative;
	z-index:100;
}



#hd  ul.main, #hd  ul.main li a {
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
margin-left:2px;
}


#hd  ul.sub, #hd  ul.sub li a {
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
}



#hd ul.main li  {
	background:none repeat scroll 0 0 transparent !important;


}



#hd ul.sub {
	border-top:3px solid #487425;
	margin-top:7px;
}
#hd ul.sub li {
	background:none repeat scroll 0 0 transparent !important;
}

#hd ul.main li a.selected {
	background:-moz-linear-gradient(center top , #E5FAA6, #BCDE5C) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom,
                   	 	  color-stop(0.00, #E5FAA6),   
                  		  color-stop(1.00, #BCDE5C));
	color:#000000;
}


#hd ul.main li a {
	color:#fff;
	font-size:93%;

	padding:5px 10px;
}

#hd li a {
	color:#42331F;
	display:block;
	font-size:85%;
	font-weight:bold;
	padding:5px 9px;
}


#container {
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);

	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}



.box h2 {
	-moz-border-radius:15px 0 15px 0;
	-webkit-border-radius:15px 0 15px 0;

	background: -moz-linear-gradient(center top , #FFC039, #FF920D) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear, left top, left bottom,
                   	 	  color-stop(0.00, #FFC039),   
                  		  color-stop(1.00, #FF920D));
}



.box h2 a, .box h2 a.visible {
	background:url("/images/switch_minus.gif")  no-repeat scroll 97% 50% transparent;

}

.box h2 a:hover {
	-moz-border-radius:15px 0 15px 0;
	-webkit-border-radius:15px 0 15px 0;
}
.box {
background:none repeat scroll 0 0 transparent;
}
#searchbox
{
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	margin-top:10px;
	padding:5px;
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	background: -moz-linear-gradient(center top , #FFC039, #FF920D) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear, left top, left bottom,
                   	 	  color-stop(0.00, #FFC039),   
                  		  color-stop(1.00, #FF920D));

}

ul.section ul.current li a {
	background:none repeat scroll 0 0 #BFEADD;
	border-bottom:1px solid #FFFFFF;
}

ul.section li a {
	background:none repeat scroll 0 0 #BCDE5C;
}

ul.section li a.current {
	background:none repeat scroll 0 0 #9CD5EB;
	color:#FFFFFF;
}

#kwick .four {
	-moz-border-radius:15px 0 0 15px;
	-webkit-border-radius:15px 0 0 15px;
	background:none repeat scroll 0 0 #E5F9A6;
}
#kwick .three {
	background:none repeat scroll 0 0 #BBDD5B;
}

#kwick .two {
background:none repeat scroll 0 0 #F6B86D;
}

#kwick .four {
	-moz-border-radius:15px 0 0 15px;
	-webkit-border-radius:15px 0 0 15px;
	background:none repeat scroll 0 0 #E5F9A6;
}

#kwick .one {
	-moz-border-radius:0 15px 15px 0;
	-webkit-border-radius:0 15px 15px 0;
	background:none repeat scroll 0 0 #F9DF7D;
}

#kwick .kwicks {
	background:none repeat scroll 0 0 transparent;

}

#kwick {
	margin-top: 5px;

}


#site_info .box {
	-moz-border-radius:15px 15px 15px 15px;
	-webkit-border-radius:15px 15px 15px 15px;
	background:none repeat scroll 0 0 #BCDE5C;
	color:#222222;
	margin-bottom:10px;
	text-align:center;
}

ul.menu li a {
	border-bottom:1px solid #FFFFFF;
}

div.menu h2 {
	margin:0 0 2px;
}

#kwick .kwick span {
	color:#000000;
}

fieldset {
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	background:none repeat scroll 0 0 #F7FFDF;
	border:1px solid #BBBBBB;

}

legend {
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	background:none repeat scroll 0 0 #FFFFFF;

}

.article_box h4
{
	color:#487425;
font-size:1.2em;
}

