{% extends 'administration/templates/base-admin.html' %}

{% block bodytag %}{% endblock %}
{% block adminform %}	
{{ key_name }}
<h2>TEMPLATE: <i>{{ pk }}</i></h2>
<div class="grid_5 alpha">
	<div>
		{% for template in templates %}
		<div>
			<a class="delete" href="/_admin/delete/template/{{ template.website }}/{{ template.name }}"> [X] </a>
			<a href="/_admin/update/template/{{ template.website }}/{{ template.name }}">{{ template.website }} - {{ template.name }}</a>
		</div>
		{% endfor %}
	</div>
</div>
<div class="grid_11 omega" >
	<div id="add-widget">
	  <form id="form-add-widget" action="" method="post">
	    <div class="box">
		<dl>
			<dt>Primary Key</dt>
			<dd>
				<span id="pk">{{ pk }}</span>
			</dd>
			{% ifequal action "add" %}
				
		                <dt>Website</dt>
				<dd>
					<INPUT Type="text" Name="website" value="{{ website }}" />
				</dd>

		                <dt>Name</dt>
				<dd>
					<INPUT Type="text" Name="name" value="{{ name }}" />
				</dd>
			{% endifequal %}
			{% ifequal action "update" %}			
				
		                <dt>Website</dt>
				<dd>
					<span>{{ website }}</span>
				</dd>

		                <dt>Name</dt>
				<dd>
					<span>{{ name }}</span>
				</dd>
			{% endifequal %}			
			<dt>content</dt>
			<dd>
				<TEXTAREA Name="content" rows="15" cols="80" id="content" class="resizable">{{ content }}</TEXTAREA> 
			</dd>
		</dl>
	    </div>
	    <div class="buttons">
	      {% ifequal action "add" %}
	      	<input type="submit" value="Add Template" />    
	      {% endifequal %}
	      {% ifequal action "update" %}
	      	<input type="submit" value="Update Template" />    
	      {% endifequal %}	
	    </div>
	  </form>
 
	</div>
</div>
{% endblock %}	
